{% extends "auctions/layout.html" %}

{% block body %}
<h2>Create Listing</h2>

<form action={% url "auctions:create" %}  method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_title">{{ form.title.label }}:</label>
        {{ form.title}}
    </div>
    <div class="form-group">
        <label for="id_description">{{ form.description.label }}:</label>
        {{ form.description}}
    </div>
    <div class="form-group">
        <label for="id_starting_bid">{{ form.starting_bid.label }}:</label>
        {{ form.starting_bid}}
    </div>
    <div class="form-group">
        <label for="id_image">{{ form.image.label }}:</label>
        {{ form.image}}
    </div>
    <div class="form-group">
        <label for="id_category">{{ form.category.label }}:</label>
        {{ form.category}}
    </div>
    <input class="btn btn-primary" type="submit" value="Save">
</form>
{% endblock %}